* {
    border: 2px solid red;
}

img {
    height: auto;
    width: 250px;
}

.header {
    color: blue;
    background-color: lightblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}